
/*--------navBar-------------------------*/



/*---------carousel----------------------*/
#carousel-pic{
    height: 40rem;
}

/*Brige-----------------------------------*/
#carouselBrige-h1{
    margin-bottom: .1rem;
}

#carouselBrige-Sub{
    margin-bottom: 1rem;
font-weight: bold;
text-transform: uppercase;
font-size: 3rem;
}
#carouselBrige-p{
margin-bottom: 15rem;
font-style: italic;
font-size: 1rem;
}
/*town--------------------------*/


#carouselTown-h1 {
    margin-bottom: .1rem;
}
#carouselTown-Sub {
    margin-bottom: 1rem;
font-weight: bold;
text-transform: uppercase;
font-size: 3rem;
}

#carouselTown-p{
    margin-bottom: 15rem;
font-style: italic;
font-size: 1rem;
}

    /*City--------------------------*/
    #carouselCity-h1{
margin-bottom: .1rem;
    }
    #carouselCity-Sub{
        margin-bottom: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 3rem;
    }
    #carouselCity-p{
        margin-bottom: 15rem;
        font-style: italic;
        font-size: 1rem;  
}

/*------------------flex section---------*/

#lightBulb-svg{
    height: 10rem;
width: 3rem;
align-self: center;
}


.flexSection{
display: flex;
background-color: #c7aa8b;
height: 23rem;
justify-content: center;
}

.lightBuld-div{
    width: 20rem;
    text-align: center;
padding: 1rem;
}

.phone-div{    
width: 20rem;
text-align: center;
padding: 1rem;
}

.connctedDot-div{
width: 20rem;
text-align: center;
padding: 1rem;
}



#stickyPicture{
    height: 100rem;
background-attachment: fixed;

}